<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment-1</title>
</head>

<body>
    <h1>Welcome to login page</h1>
    <div class="mx-auto w-1/2 my-9">
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        {% comment %}
            {% if form.non_field_errors %}
                {% for error in errors %}
                    {{error}}
                {% endfor %}
            {% endif %} 
        {% endcomment %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-blue-500 px-2 py-1 rounded text-white mt-3" type="submit">Sign In</button>
        </form>
    </div>
</body>

</html>